@{
    ViewBag.Title = "About us";
}

<div class="about-section">
    <h1>@ViewBag.Title</h1>
    <br />
    <p>Am creat aceasta platforma pentru a ii ajuta atat pe studenti, cat si pe profesori, 
    sa aiba acces mai usor la materialele educationale care pot facilita procesul de invatare la diferite 
    materii din cadrul Facultatii de Matematica si Informatica.</p>
    <p>Aceste materiale sunt prezentate si gestionate intr-o maniera noua si inovativa, 
    aplicatia fiind realizata chiar de studenti ai acestei facultati.
    </p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="rowAbout">
    <div class="columnAbout">
        <div class="cardAbout">
            <img class="imgAbout" src="/alexandra.png" alt="Alexandra" >
            <div class="containerAbout">
                <h2>Alexandra Nanu</h2>
                <p class="title">CEO & Co-Founder</p>
                <p>Facultatea de Informatica</p>
                <p>Grupa 243</p>
                <p>alexandra_nanu@wiki_fm10.com</p>
                <p><a class="buttonAbout btn btn-primary" href="/Home/Contact">Contact</a></p>
            </div>
        </div>
    </div>

    <div class="columnAbout">
        <div class="cardAbout">
            <img class="imgAbout" src="/diana.png" alt="Diana" >
            <div class="containerAbout">
                <h2>Diana Poinarita</h2>
                <p class="title">CEO & Co-Founder</p>
                <p>Facultatea de Informatica</p>
                <p>Grupa 243</p>
                <p>poinarita_diana@wiki_fm10.com</p>
                <p><a class="buttonAbout btn btn-primary" href="/Home/Contact">Contact</a></p>
            </div>
        </div>
    </div>
</div>
