@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<div class="rowContact">
    <div class="columnContact">
        <address>
            Universitatea din București<br />
            Facultatea de Matematică și Informatică<br />
            Strada Academiei 14<br />
            Phone: 0724 235 151<br />
        </address>
    </div>
    <div class="columnContact">
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@wiki_fm10.com">Support@wiki_fm10.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@wiki_fm10.com">Marketing@wiki_fm10.com</a>
        </address>
    </div>
</div>

<div>
    <img src="/mapsFMI.png" style="max-width: 100%; max-height: 100%;" />
</div>
